:root{
  --cs-deep-purple: #4A4E69;
  --cs-medium-purple: #8E9AAF;
  --cs-lighr-purple: #CBC0D3;
  --cs-light-pink: #FEEAFA;
  --cs--white: #EFF1FF;
  --cs-text-color: #23053A;

  font-size: 62.5%;

  --fs-text: clamp(1.6rem, 1rem + 1.5vw, 2rem);

  --ff-heading: 'Staatliches', cursive;
  --ff-text:'Palanquin', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: var(--cs-medium-purple);
  justify-content: center;
  padding: 3.2rem 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 13.7rem;
  height: 13.7rem;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

header h1 {
  font-family: var(--ff-heading);
  font-size: clamp (2rem, 2rem + 1vw, 4rem);
  line-height: 3.4rem;
  color: var(--cs--white);
  letter-spacing: 0.05em;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
}
header p {
  display: none;
}

header .name {
  width: 100%;
  height: 5rem;

  background-color: var(--cs-lighr-purple);

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: var(--cs--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro p {
  font-size: var(--fs-text);
  font-family: var(--ff-text);
  color: var(--cs-text-color);
  line-height: 2rem;
  text-align: justify;
  padding: 0 10px;
}

.intro {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2.4rem 0 6.4rem;

  animation: leftright 750ms;
}

.card-wrapper {
  
  display: grid;
  gap: 3.6rem;

  animation: bottomup 1s 500ms backwards;
}

.card-wrapper div:nth-child(5),
.card-wrapper div:nth-child(6){
  display: none;
}

.card{
  position: relative;
}

.card img {
  transition: all 200ms ease-in;
}

.card img:hover{
  filter: blur(2px) brightness(0.5);
}

.card h2{
  position: absolute;
  top: 16px;
  right: 16px;

  background: var(--cs-light-pink);
  color: var(--cs-deep-purple);
  border-radius: 20px;
  font-size: var(--fs-text);
  font-family: var(--ff-heading);
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0 2.4rem ;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.65));
  animation: dropdown 1s 750ms backwards;
}
footer{
  display: none;
}

@keyframes bottomup {
 0%{
    opacity: 0;
    transform: translateY(15px);
    }
 100% {
  opacity: 1;
  transform: translateY(0);
 }
}

@keyframes leftright {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas: "A B B B"
    "A D D D";
    grid-template-columns: 1fr 3fr;
  }
  header {
    grid-area: A;
    justify-content: flex-start;
  }
  
  main .card-wrapper {
    padding-left: clamp(6rem, 1rem + 5vw, 9.8rem);
    grid-area: B;
  }

 header p{
    background-color: var(--cs-medium-purple);
    font-family: calc(var(--ff-text) + 0.4rem);
    font-size: var(--fs-text);
    line-height: 2rem;
    color: var(--cs--white);

    padding: 3.2rem 5rem 12.5rem;
    
    display: flex;
    
  }
  footer {
    grid-area: D;

    display: flex;
    text-align: center;
    justify-content: center;
    align-content: end;
    flex-wrap: wrap;

    font-family: var(--ff-text);
    font-size: var(--fs-text);
    color: var(--cs-deep-purple);

    background: var(--cs--white);
  }
  footer a {
    text-decoration: none;
    color: var(--cs-deep-purple);
    font-weight: 700;
  }

  .card-wrapper {
  padding: 6.4rem 8rem 0 0;
  display: grid;
  grid-template-areas: "A B C"
  "D B F"
  "D E F";
  }
  .card-wrapper div:nth-child(1){
    grid-area: A;
  }
  .card-wrapper div:nth-child(2){
    grid-area: B;
  }
  .card-wrapper div:nth-child(6){
    grid-area: C;
    display: inherit;
  }
  .card-wrapper div:nth-child(4){
    grid-area: D;
  }
  .card-wrapper div:nth-child(3){
    grid-area: E;
  }

  .card-wrapper div:nth-child(5){
    grid-area: F;
    display: inherit;
  }

  .intro{
    display: none;
  }
}

